/* ページ全体のスタイル */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white; /* 背景色を白に設定 */
}

/* ヘッダーのスタイル */
header {
    background-color: white; /* 背景色を白に設定 */
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333; /* メニューテキストの色を変更 */
    font-weight: bold;
    font-size: 18px;
}

h1 {
    font-size: 36px;
    color: #333;
}

h3 {
    font-size: 24px;
    color: #333;
}

.logo img {
    width: 50%; /* ロゴの幅を半分に設定 */
    max-width: 300px; /* ロゴの最大幅を設定 */
    height: auto; /* アスペクト比を維持 */
    margin-top: 10px;
}

/* メインコンテンツセクションのスタイル */
main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #333;
}

.start-button {
    background-color: #70b2b2;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #4c7a7a;
}

/* ゲームオプションのスタイル */
.game-options {
    display: flex;
    justify-content: center; /* 中央に寄せる */
    margin-top: 20px;
}

.option {
    text-align: center;
    flex: 1; /* 幅を均等に分配 */
    max-width: 20%; /* 最大幅を設定 */
}

/* フッターのスタイル */
footer {
    text-align: center; /* テキストを中央に寄せる */
    padding: 20px 0;
    color: #585858f7; /* テキストの色を設定 */
}

footer p {
    margin: 0; /* マージンをリセットしてテキストを中央に配置 */
}

/* ボタンのスタイル */
button {
    background-color: #70b2b2; /* ボタンの背景色 */
    color: #fff; /* ボタンのテキスト色 */
    font-size: 18px; /* フォントサイズ */
    padding: 10px 20px; /* パディング */
    border: none; /* ボーダーをなくす */
    cursor: pointer;
    transition: background-color 0.3s ease; /* ホバー時のトランジション */
    border-radius: 5px; /* ボーダーの角を丸める */
    margin-right: 10px; /* ボタン間の間隔 */
}

button:hover {
    background-color: #4c7a7a; /* ホバー時の背景色 */
}

/* ボタン間の最後のボタンの右マージンを削除 */
button:last-child {
    margin-right: 0;
}

/* 日付と曜日の大きさを3倍に設定 */
#current-date {
    font-size: 2em;
}

/* リンクのスタイルを修正 */
#current-date a {
    text-decoration: none; /* アンダーラインを非表示 */
    color: #000; /* リンクの文字色を黒に設定 */
}
/* ページのフェードインアニメーション */
.page-animation {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

