body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff; /* 白い背景 */
}

/* コンテナを中央に配置し、左右に余白を持たせるためのスタイル */
.container {
    max-width: 90%; /* コンテナの最大幅を画面の横幅に合わせる */
    margin: 0%; /* 水平方向に中央に配置 */
    padding: 40px; /* 左右に余白を持たせる */
    text-align: center; /* 表示内容を中央揃えに */
}

/* 表のスタイル */
.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center; /* セル内のテキストを中央揃えにする */
}

#imageRow img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #70b2b2;
    color: #fff;
    text-decoration: none;
    border-radius: 100px; /* 角の丸みを調整 */
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #0fe7d5; /* ボタンにマウスを移動すると少し濃い青になる */
}

/* 1行目のセルのフォントサイズを25に設定 */
.row:first-child .cell {
    font-size: 30px;
}

/* ボタンの親要素に対するスタイル */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px; /* 適切なマージンを設定してボタンを上下に配置 */
}


/* CSSファイルに追加するスタイル */
#nextButton {   
    position: fixed;
    bottom: 20px; /* 画面下からの距離を調整 */
    left: 50%; /* 画面中央に配置 */
    transform: translateX(-50%); /* 中央揃えにするために左に移動 */
}

#checkAnswersButton {
    position: fixed;
    bottom: 20px; /* 画面下からの距離を調整 */
    left: 50%; /* 画面中央に配置 */
    transform: translateX(-50%); /* 中央揃えにするために左に移動 */
}

@keyframes fadeInUp {   
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0) translateX(0); /* X軸方向の変位を追加 */
    }
}
